<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Terminology services
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


<h1>Get started</h1>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half">
        <h3>1. Explore</h3>
        <p>You can find information about NHS Wales APIs in the catalogue to discover what suits your needs</p>
      </div>
      <div class="nhsuk-grid-column-one-half">
        <h3>1. Archwilio</h3>
        <p> Gallwch ddod o hyd i wybodaeth am APIs GIG Cymru yn y catalog i ddarganfod beth sy'n addas i'ch anghenion </p>

      </div>
    </div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half">
        <h3>2. Sign up</h3>
        <p>Sign-up to create a user profile. You'll receive an email to verify your email address.</p>
      </div>
      <div class="nhsuk-grid-column-one-half">
        <h3>2. Cofrestrwch </h3>
        <p> Cofrestrwch i greu proffil defnyddiwr. Byddwch yn derbyn e-bost i wirio'ch cyfeiriad e-bost. </p>
      </div>
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-half">
            <h3>3. Subscribe</h3>
            <p>Before making calls to APIs you'll need to subscribe to our Sandbox product, which currently contains some experimental FHIR APIs.  We hope to soon make sandbox implementations of other APIs from the NHS Wales catalogue.</p>
          </div>
          <div class="nhsuk-grid-column-one-half">
            <h3>3.  Tanysgrifio </h3>
            <p> Cyn gwneud galwadau i APIs bydd angen i chi danysgrifio i'n cynnyrch Sandbox, sydd ar hyn o bryd yn cynnwys rhai APIs FHIR arbrofol. Gobeithiwn yn fuan i roi APIs eraill ar waith mewn blwch tywod o gatalog GIG Cymru. </p>
          </div>
        </div>

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-one-half">
                <h3>4. Try it out</h3>
                <p>Once you've subscribed, navigate to your user profile to see a list of subscription keys. You'll need to include the subscription key in the HTTP header when making API requests.  On the API pages you can click the "Try it" button to test it out in the browser.</p>
              </div>
              <div class="nhsuk-grid-column-one-half">
                <h3>4. Rhowch gynnig arni </h3>
                <p> Ar ôl i chi danysgrifio, llywiwch i'ch proffil defnyddiwr i weld rhestr o allweddi tanysgrifio. Bydd angen i chi gynnwys yr allwedd tanysgrifio ym mhennyn HTTP wrth wneud ceisiadau API. Ar y tudalennau API gallwch glicio ar y botwm "Rhowch gynnig arni" i'w brofi yn y porwr. </p>
              </div>
            </div>


<hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

    <h3>1. Explore / Archwilio</h3>
    <p>You can find information about NHS Wales APIs in the catalogue to discover what suits your needs</p>
    <p> Gallwch ddod o hyd i wybodaeth am APIs GIG Cymru yn y catalog i ddarganfod beth sy'n addas i'ch anghenion </p>

    <h3>2. Sign up / Cofrestrwch</h3>
    <p>Sign-up to create a user profile. You'll receive an email to verify your email address.</p>
    <p> Cofrestrwch i greu proffil defnyddiwr. Byddwch yn derbyn e-bost i wirio'ch cyfeiriad e-bost. </p>

    <h3>3. Subscribe / Tanysgrifio</h3>
    <p>Before making calls to APIs you'll need to subscribe to our Sandbox product, which currently contains some experimental FHIR APIs.  We hope to soon make sandbox implementations of other APIs from the NHS Wales catalogue.</p>
    <p> Cyn gwneud galwadau i APIs bydd angen i chi danysgrifio i'n cynnyrch Sandbox, sydd ar hyn o bryd yn cynnwys rhai APIs FHIR arbrofol. Gobeithiwn yn fuan i roi APIs eraill ar waith mewn blwch tywod o gatalog GIG Cymru. </p>

    <h3>4. Try it out / Rhowch gynnig arni </h3>
    <p>Once you've subscribed, navigate to your user profile to see a list of subscription keys. You'll need to include the subscription key in the HTTP header when making API requests.  On the API pages you can click the "Try it" button to test it out in the browser.</p>
    <p> Ar ôl i chi danysgrifio, llywiwch i'ch proffil defnyddiwr i weld rhestr o allweddi tanysgrifio. Bydd angen i chi gynnwys yr allwedd tanysgrifio ym mhennyn HTTP wrth wneud ceisiadau API. Ar y tudalennau API gallwch glicio ar y botwm "Rhowch gynnig arni" i'w brofi yn y porwr. </p>


{% endblock %}
