<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Terminology services
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="/interim/dev-homepage">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back</a>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <!-- Change the page title here -->
      <h1>
      Get started
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <p class="nhsuk-lede-text">
        Learn about NHS Wales' APIs, how you can use them and how to integrate them with your application.</p>
        <div class="nhsuk-inset-text">
    <span class="nhsuk-u-visually-hidden">Information: </span>
    <p>This content is not translated into Welsh because it is not intended for patients or the public. <a href="#welsh">Read more about our Welsh standards</a>.</p>
  </div>
    <h2>Overview</h2>
        <p>The NHS Wales Developer Portal tells users everything they need to know about the APIs that interact with key NHS Wales systems.</p>
        <p>We've grouped information about our APIs, how to test them and how to integrate them in one place. All content is written clearly, and it's easy to navigate the site to find what you need.</p>
        <p>We're currently in Beta. This means that we're still testing the site and making changes. <a href="mailto:ecosphere@wales.nhs.uk">Give feedback to help us to improve</a>.</p>
        <h3>Who the portal is for</h3>
        <p>The site is open and its content can be viewed by anyone. However, the content is currently only intended for:</p>
        <ul>
        <li>NHS Wales development teams</li>
        <li>development teams contracted to integrate with NHS Wales systems</li>
        </ul>
        <p>As the site is not intended for general use by patients or the public, some content has not been translated into Welsh. <a href="#welsh">Read more about our Welsh standards</a>.</p>
        <h3>Who maintains the developer portal</h3>
        <p>The site is maintained by the <a href ="https://digitalhealth.wales/dhew">Digital Health Ecosystem Team Wales (DHEW)</a> programme.</p>
        <p>DHEW is a collaboration between Digital Health and Care Wales (DHCW) and the Life Sciences Hub Wales (LSHW), and aims to make it easier and faster to adopt digital healthcare technology in Wales.</p>
        <p>If you're interested in partnering with us as a third party developer, come to a <a href="https://digitalhealth.wales/events?section=28">DHEW engagement event</a>, or look at our <a href="https://digitalhealth.wales/dhew/developer-portal">standards and resources</a> to find out more.</p>

    <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
    <h2>1. Learn how NHS Wales use APIs</h2>
    <h3>Our architecture overview</h3>
    <p>NHS Wales' digital architecture is made up of information management systems and data repositories. Messaging components, including APIs, are used to mediate communication between them.</p>
    <p><b>Information management systems</b></p>
    <p>These provide a user interface for viewing and updating information, such as:</p>
      <ul>
      <li>GP systems, like Vision</li>
      <li>hospital patient administration systems, like the Welsh Patient Administration system (WPAS)</li>
      <li>specialist systems, like the Welsh Laboratory Information System (WLIMS)</li>
      <li>reference management, like the Welsh Pathology Handbook</li>
      </ul>

      <p><b>Data repository services</b></p>
      <p>These provide secondary or consolidated store of information from other systems, such as:</p>
        <ul>
        <li>the Welsh Care Record Service (WCRS)</li>
        <li>the Welsh Results Reporting Service (WRRS)</li>
        <li>the Welsh Demographics Service (WDS)</li>
        <li>the Master Patient Index (MPI)</li>
        <li>the Welsh Reference Data and Terminology Service (WRTS)</li>
        </ul>

        <p><b>Messaging components</b></p>
        <p>These mediate the communication between the various systems and services. In some cases,the components are APIs that allow for direct communication to the underlying system, such as:</p>
          <ul>
          <li>Welsh GP Record API (WGPR)</li>
          <li>WPAS APIs</li>
          <li>WCRS document search and retrieval APIs</li>
          <li>MPI patient demographics query API</li>
          </ul>
          <p>In other cases, they are APIs or message processors separate to the receiving system and typically perform some routing, logging, buffering or transformation of the message flows, such as:</p>
          <ul>
            <li>NHS Wales Messaging Fabric (Fiorano Enterprise Service Bus)</li>
            <li>GP Links (Iuvo)</li>
            <li>Welsh Clinical Communications Gateway (WCCG)</li>
            </ul>

          <p><b>Identity and access management services</b></p>
          <p>These control user access to data. Applications should:</p>
            <ul>
            <li>authenticate users with NADEX or AC3</li>
            <li>apply role based Access Controls locally or with AC3</li>
            <li>WCRS document search and retrieval APIs</li>
            <li>record usage to local audit logs or to the Central Audit Service (CAS)</li>
            </ul>

    <figure class="nhsuk-image">
  <img class="nhsuk-image__img" src="https://i.postimg.cc/5y6HVBcF/NHS-Wales-National-Data-Resource-API-example-message-flows-and-systems.png" alt="Diagram.">
  <figcaption class="nhsuk-image__caption">
    Diagram showing example message flows and systems.
  </figcaption>
</figure>
    <h3>Key systems and services</h3>
    <p>There are multiple key systems and services used within NHS Wales that you can integrate with using APIs.</p>
    <p>These include:</p>
    <ul>
      <li>National Active Directory and Exchange (NADEX), </li>
      <li>Account control v3 (AC3)</li>
      <li>Welsh Reference Data Service (WRDS) </li>
      <li>Terminology service</li>
      <li>Enterprise Service Bus</li>
      <li>Welsh Clinical Communication Gateway (WCCG)</li>
      <li>Requesting services</li>
      <li>Wales Demographics Service (WDS)</li>
      <li>Master Patient Index (MPI)</li>
      <li>Welsh GP Record (WGPR)</li>
      <li>Welsh Care Record Service (WCRS)</li>
      <li>Welsh Results Reports Service (WRRS)</li>
      </ul>
    <p>Read an <a href="https://nwisbeta.github.io/open-architecture/docs/getting-started/key-services/">overview of key NHS Wales systems and services (opens in a new tab)</a> in the NHS Wales Open Architecture Docs.</p>

    <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
     <h2>2. Learn our API technologies and standards</h2>
     <h3>SOAP/XML</h3>
     <p>Many of the APIs used to access NHS Wales national systems are Simple Object Access Protocol (SOAP) web services. SOAP APIs use XML to format the message and HTTP to send it. <a href="https://www.w3.org/TR/soap/" target="_blank">Read more about SOAP specifications (opens in a new tab)</a>.</p>
     <p>Web Service Description Language (WSDL) documents are used to provide a machine readable definition of SOAP APIs. <a href="https://www.w3.org/TR/2001/NOTE-wsdl-20010315" target="_blank">Read more about WSDL documents (opens in a new tab)</a>.</p>
     <p>If you need to connect to system using SOAP API, you'll usually use a tool that automatically generates the client code for you based on the WSDL.</p>

     <h3>Data standards and HL7</h3>
     <p>The way we structure data is different from system to system, but there are some common standards we use.</p>
     <p>The Welsh GP Record API and the Welsh Clinical Communications Gateway (WCCG) use locally defined standards for representing health record information.</p>
     <p>Other systems, like the Master Patient Index (MPI) and the Welsh Lab Information Management System (WLIMS), use the HL7 v2  message structures for their APIs.</p>
     <p>The MPI API also conforms to the IHE Profile for performing Patient demographic queries and patient identifier cross-reference operations.</p>

     <h3>FHIR and OpenEHR</h3>
     <p>We also use HL7 FHIR and OpenEHR, which are modern standards for healthcare systems.</p>
     <p>FHIR is a standard for communication between systems. It defines structures for common data entities, for example patient, and an API. The core standard aims to cater for 80% of use cases, with options to extend and customise definitions for other use cases. The <a href="overview">terminology service</a> is an example of a system that uses FHIR standards.</p>
     <p>OpenEHR is a separate standard that publishes its own data definitions and API specifications for use in healthcare. In addition, it defines models for data persistence in the underlying system. The Clinical Data Repository is an example of a service that uses OpenEHR. Read more in the blog post <a href="https://digitalhealth.wales/news/what-openehr-and-why-it-important" target="_blank">What is openEHR and why is it important? (opens in a new window)</a>.</p>
     <p>We expect that all new systems will provide an API that conforms to one of these two standards.</p>

     <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

    <h2>3. Search for APIs</h2>
    <p>You can find all available APIs in the <a href="dev-api-catalogue">API catalogue</a>.</p>
    <p>APIs are tagged by their state, for example:</p>
    <ul>
      <li>live APIs, which are already in widespread use</li>
      <li>experimental APIs, which you can test in the sandbox and suggest improvements</li>
      </ul>
      <p>As we're in Beta, we're still developing the technical documentation for some APIs.</p>

    <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

    <h2>4. Test and go live</h2>
    <h3>Sandbox APIs</h3>
      <p>We have some <a href="sandbox">sandbox APIs</a> available for users to test, learn, and start to integrate with.</p>
      <p>To test an API in the sandbox, you should:</p>
      <ol>
        <li><a href="https://developer.nhs.wales/signin">Sign in or register an account.</li>
        <li><a href="https://developer.nhs.wales/sandbox">Subscribe to the sandbox.</a></li>
        <li>Search our <a href="https://developer.nhs.wales/sandbox"> sandbox APIs</a> to find the one you'd like to try.</li>
        </ol>
    <h3>Testing and production environments</h3>
      <p>If you're ready to integrate an API with your application, you can request access to:</p>
      <ul>
        <li>system integration testing (SIT), to validate an application against integration testing requirements</li>
        <li>user acceptance testing (UAT), for application end users to test a new feature in a non-production environment (if required)</li>
        <li>production environment, for pilot and go-live of your application</li>
        </ul>
        <p>Access to these environments is subject to an assurance process.</p>
    <h3>The assurance process</h3>
      <p>We will ask you some questions to make sure that your use case for integrating your application with an API meets with our standards.</p>
      <p>This process can change depending upon which API you're requesting access to. Find the API you'd like to access in the <a href="dev-api-catalogue">API catalogue</a> and read its documentation to see the most up to date process.</p>
      <p>If the API does not have information about its assurance process, <a href="mailto:ecosystem@wales.nhs.uk">email ecosystem@wales.nhs.uk</a>.</p>
      <p>Production access will be provided once your application passes our checks.</p>

      <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

      <h2>5. Get help and support</h2>
      <p>For general support with the NHS Wales Developer Portal, <a href="mailto:ecosystem@wales.nhs.uk">email ecosystem@wales.nhs.uk</a>.</p>
      <p>If you need help with an API, check the support section of the API's documentation for more specific information about how to get support. This makes sure you are put in touch with the right team more quickly.</p>

      <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

      <a id="welsh"></a><h2> Welsh language standards</h2>
      <h3>What content we provide in Welsh</h3>
      <p>We aim to provide Welsh translation where possible. However, because the content of this website is not intended for patients or the public, we have not translated more technical information.</p>
      <p>The content that is translated into Welsh includes:</p>
      <ul>
        <li>the homepage</li>
        <li>get started</li>
        <li>site navigation</li>
        </ul>
        <h3>Welsh translation if you're applying for a tender</h3>
        <p>If you're applying for a tender, you can ask us to translate any of this site's content into Welsh.</p>
        <p><a href="mailto:ecosystem@wales.nhs.uk">Email ecosystem@wales.nhs.uk</a> and include:</p>
        <ul>
          <li>your name and organisation</li>
          <li>which tender you are applying for</li>
          <li>the url of each page you need in Welsh</li>
          </ul>
      <h3>Your Welsh language requirements when creating apps for patients and the public</h3>
      <p>You have a responsibility to consider Welsh language requirements when creating an application for use by Welsh public, patients and clinicians.</p>
      <p>This ensures that the Welsh language is treated no less favourably than English, and allows all users to access information in Welsh if they choose to.</p>
      <p>There is lots of clear advice available in the <a href="https://gov.wales/sites/default/files/publications/2021-03/technology-websites-and-software-welsh-language-considerations.pdf" source="_blank">Welsh Language Commissioner's Welsh Language Considerations document (opens in a new window)</a>. It includes information about bilingually designing your application's:</p>
      <ul>
        <li>architecture</li>
        <li>user interface</li>
        <li>language selection</li>
        <li>locales, alphabets and character sets</li>
        <li>data management</li>
        <li>application outputs</li>
        <li>addresses and geographical information</li>
        </ul>
        <p>Another helpful resource is the <a href="https://gov.wales/bilingual-technology-toolkit-good-user-experience" source="_blank">bilingual technology toolkit for good user experience (opens in a new window)</a>. Use this to break down your application's Welsh language requirements by priority.</p>

        <div class="nhsuk-back-to-top">
          <a class="nhsuk-back-to-top__link" href="dev-get-started">
            <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
            </svg>
            Back to top
          </a>
        </div>
        </div>

        </div>
        </div>

        </div>


      <!-- End of content -->

    </div>
  </div>
{% endblock %}
