<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Terminology services
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<section class="nhsuk-hero nhsuk-hero--image nhsuk-hero--image-description" style="background-image: url('https://cdn.hubblecontent.osi.office.net/m365content/publish/25474d7b-2fd0-4f14-b751-5d4e3c787e97/thumbnails/large.jpg?file=gettyimages-660495303_super.jpg');">
  <div class="nhsuk-hero__overlay">
    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <div class="nhsuk-hero-content">
            <h1 class="nhsuk-u-margin-bottom-2">NHS Wales Developer Portal</h1>
            <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <p class="nhsuk-body-l"><b>BETA</b></p>
          <p class="nhsuk-body-l"> Integrate your app with our APIs and develop innovative digital solutions that benefit patients, the public and clinicians.</p>

            <span class="nhsuk-hero__arrow" aria-hidden="true"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="nhsuk-u-padding-bottom-9"></div>
<div class="nhsuk-u-padding-bottom-6"></div>

<ul class="nhsuk-grid-row nhsuk-card-group">
  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

    <div class="nhsuk-card nhsuk-card--clickable">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
          <a class="nhsuk-card__link" href="dev-get-started">Get started</a>
        </h2>
        <p class="nhsuk-card__description">Learn more about our APIs, including API technologies we use and our Welsh standards.</p>
      </div>
    </div>

  </li>

  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

    <div class="nhsuk-card nhsuk-card--clickable">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
          <a class="nhsuk-card__link" href="dev-api-catalogue">Find an API</a>
        </h2>
        <p class="nhsuk-card__description">Explore our catalogue of live and experimental APIs, many of which can be Sandbox tested.</p>
      </div>
    </div>

  </li>
  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

    <div class="nhsuk-card nhsuk-card--clickable">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
          <a class="nhsuk-card__link" href="#">Test and go live</a>
        </h2>
        <p class="nhsuk-card__description">Learn how to integrate your app with our APIs, including steps for testing and going live.</p>
      </div>
    </div>
    </li>




<div class="nhsuk-u-padding-top-5"><div class="nhsuk-u-padding-left-4"><h2 class="nhsuk-heading-m">Try a Sandbox API</h2>
</div></div>

    <div class="nhsuk-u-padding-left-3"><ul class="nhsuk-grid-row nhsuk-card-group">
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-l">
              1.
            </h2>
            <p class="nhsuk-card__description"><a href="dev-signin">Sign in or register</a> an account.</p>
          </div>
        </div>

      </li>

      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-l">
              2.
            </h2>
            <p class="nhsuk-card__description">Subscribe to the Sandbox in <a href="dev-subscriptions-nosignin">My Subscriptions</a> and get an access key.</p>
          </div>
        </div>

      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-l">
              3.
            </h2>
            <p class="nhsuk-card__description">Search our <a href="dev-api-catalogue">Sandbox APIs</a> to find the one you'd like to try.</p>
          </div>
        </div>


  </li>
</ul>
</div>
{% endblock %}
