<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Terminology services
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->

{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <!-- Change the page title here -->
      <h1>
      FHIR Terminology service API
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <p class="nhsuk-lede-text">
        How to search and read clinical terminologies like SNOMED CT using FHIR resources
      </p>
      <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item" aria-current="page">
            <span class="nhsuk-contents-list__current">Overview</span>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="get-started">Get started</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="fhir">About FHIR APIs</a>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="snomed">About SNOMED CT</a>
            </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="example-api-requests">Example API requests and Sandbox</a>
          </li>
        </ol>
      </nav>

      <h2>Overview</h2>

      <p>To improve patient outcomes, clinical systems need to use and understand a shared, consistent language so that care is more joined-up. </p>
      <P>The terminology service FHIR API enables you to develop applications that interact with clinical terminologies and retrieve content using a set of national standards.  </p>
      <h3>About the terminology service</h3>
      <p>The terminology service is part of the <a href="https://digitalhealth.wales/national-data-resource" target="_blank">National Data Resource (NDR) programme (opens in a new tab)</a>. It has an important role in the digital transformation agenda for NHS Wales, using an open platform approach to digital innovation by publishing national standards for how software and technologies work together. </P>
      <p>The way that electronic healthcare records are written and stored can differ between care settings. This makes it difficult to share content quickly and accurately from one clinical system to another.</p>
      <p>The terminology service gives that content structure. It assigns unique codes to information like symptoms, medications and procedures to form a consistent clinical terminology that can be processed by any system. For example, one clinician might record a diagnosis as 'influenza', and another might record it as 'flu'. A terminology service translates those synonyms into one code that can be understood by both computers and clinicians.</p>
      <h3>SNOMED CT is our standard terminology</h3>
      <p><a href="https://gov.wales/sites/default/files/publications/2019-08/introduction-of-snomed-ct-as-an-information-standard-in-nhs-wales.pdf" target="_blank">SNOMED CT was adopted as ministerial policy (opens in a new tab)</a> in 2015 by the Minister for Health & Social Services. It is now NHS Wales' standard clinical terminology.</p>
      <P>Other terminologies and classifications that we use include:</p>
        <ul>
          <li><a href="https://loinc.org/" target="_blank">LOINC (opens in a new tab)</a>, or Logical Observation Identifiers Names and Codes, a standard for health measurements, observations, and documents</li>
          <li><a href="https://digital.nhs.uk/services/terminology-and-classifications/national-interim-clinical-imaging-procedure-nicip-code-set" target="_blank">NICIP (opens in a new tab)</a>, or National Interim Clinical Imaging Procedure, a standard for procedures and direct commissioning of services</li>
          <li><a href="https://nwis.nhs.wales/information-services/information-standards/clinical-classifications-and-terminology-standards/clinical-classifications-and-terminologies-standards-doc/icd-10-essentials-document-pdf/">ICD-10 (opens in a new tab)</a>, or International Classification of Diseases 10, a classification of diseases, clinical documentation, and statistical aggregation</li>
          <li><a href="https://datadictionary.nhs.uk/supporting_information/opcs_classification_of_interventions_and_procedures.html">OPCS (opens in a new tab)</a>, a classification of interventions and procedures</li>
          </ul>






      <!-- End of content -->

    </div>
  </div>
{% endblock %}
