<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
{% from 'side-navigation/macro.njk' import sideNavigation %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Terminology services
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-side-navigation-container" >
{{ sideNavigation({
    items: [
      { id: "overview", display: "Overview", active: true },
      { id: "get-started", display: "Get started" },
      { id: "about-fhir-apis", display: "About FHIR APIs" },
      { id: "about-snomed-ct", display: "About SNOMED CT" },
      { id: "example-api-requests-and-sandbox", display: "Example API requests" }
    ]
  })
}}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <section class="nhsuk-side-navigation__section">
        {% markdown "includes/overview.md" %}
      </section>
      <section class="nhsuk-side-navigation__section">
        {% markdown "includes/get-started.md" %}
      </section>
      <section class="nhsuk-side-navigation__section">
        {% markdown "includes/about-fhir-apis.md" %}
      </section>
      <section class="nhsuk-side-navigation__section">
        {% markdown "includes/about-snomed-ct.md" %}
      </section>
      <section class="nhsuk-side-navigation__section">
        {% markdown "includes/example-api-request.md" %}
      </section>
    </div> <!-- end "nhsuk-grid-column-two-thirds" -->
  </div> <!-- end "nhsuk-grid-row" -->
</div> <!-- end "nhsuk-side-navigation-container"> -->
{% endblock %}
