<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Terminology services
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="/interim/dev-homepage">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back</a>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <!-- Change the page title here -->
      <h1>
      Get started
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <p class="nhsuk-lede-text">
        Learn about NHS Wales' APIs, how you can use them and how to integrate them with your application.</p>
    <h2>Overview</h2>
        <p>The NHS Wales Developer Portal gives you technical guidance for using the APIs that interact with NHS Wales' systems and services.</p>
        <p>We've grouped information for each API into separate technical guides. You can access this information by clicking on the name of the API in the <a href="dev-api-catalogue">API catalogue</a>. Content is written clearly, and it's easy to navigate the site to find what you need.</p>
        <p>We're currently in Beta. This means that we're still testing the site and making changes. <a href="mailto:ecosphere@wales.nhs.uk">Email your feedback to us</a> and help us to improve.</p>
        <div class="nhsuk-u-padding-bottom-3"></div>

        <h3>Who the portal is for</h3>
        <p>Anyone can view the information on this site. However, its content has been created specifically for:</p>
        <ul>
        <li>NHS Wales development teams</li>
        <li>development teams contracted to integrate with NHS Wales systems</li>
        </ul>
        <p>The site has not been created for general use by patients or the public, so some content has not been translated into Welsh. <a href="#welsh">Read more about our Welsh standards</a>.</p>

        <div class="nhsuk-u-padding-bottom-3"></div>
        <h3>Who maintains the developer portal</h3>
        <p>The site is maintained by the <a href ="https://digitalhealth.wales/dhew">Digital Health Ecosystem Team Wales (DHEW)</a> programme.</p>
        <p>DHEW is a collaboration between Digital Health and Care Wales (DHCW) and the Life Sciences Hub Wales (LSHW). DHEW aims to make it easier and faster to adopt digital healthcare technology in Wales.</p>
        <p>If you're a third party developer and you're interested in partnering with us, you may want to:</p>
        <ul>
          <li>come to a <a href="https://digitalhealth.wales/events?section=28">DHEW engagement event</a></li>
          <li>look at our <a href="https://digitalhealth.wales/dhew/developer-portal">standards and resources</a> for more information</li>
          </ul>

    <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
    <h2>1. Learn how NHS Wales uses APIs</h2>
    <h3>Our architecture overview</h3>
    <p>NHS Wales' digital architecture is created from information management systems and data repositories. Messaging components, including APIs, are used to manage communication between those systems and repositories.</p>
    <div class="nhsuk-u-padding-bottom-3"></div>

    <h4>Information management systems</h4>
    <p>Information management systems provide a user interface for viewing and updating information. They include:</p>
      <ul>
      <li>GP systems, like Vision</li>
      <li>hospital patient administration systems, like the Welsh Patient Administration system (WPAS)</li>
      <li>specialist systems, like the Welsh Laboratory Information System (WLIMS)</li>
      <li>reference management, like the Welsh Pathology Handbook</li>
      </ul>
      <div class="nhsuk-u-padding-bottom-3"></div>

      <h4>Data repository services</h4>
      <p>Data repository services provide a secondary or consolidated store of information from other systems, such as:</p>
        <ul>
        <li>the Welsh Care Record Service (WCRS)</li>
        <li>the Welsh Results Reporting Service (WRRS)</li>
        <li>the Welsh Demographics Service (WDS)</li>
        <li>the Master Patient Index (MPI)</li>
        <li>the Welsh Reference Data and Terminology Service (WRTS)</li>
        </ul>
        <div class="nhsuk-u-padding-bottom-3"></div>

        <h4>Messaging components</h4>
        <p>Messaging components manage the communication between the systems and services. Often, the components are APIs that allow direct communication to the underlying system, such as:</p>
          <ul>
          <li>WPAS APIs</li>
          <li>WCRS document search and retrieval APIs</li>
          <li>MPI patient demographics query API</li>
          </ul>
          <p>In other cases, they are APIs or message processors separate to the receiving system that perform some routing, logging, buffering or transformation of the message flows, such as:</p>
          <ul>
            <li>NHS Wales Messaging Fabric (Fiorano Enterprise Service Bus)</li>
            <li>GP Links (Iuvo)</li>
            <li>Welsh Clinical Communications Gateway (WCCG)</li>
            </ul>
            <div class="nhsuk-u-padding-bottom-3"></div>

          <h4>Identity and access management services</h4>
          <p>Identity and access management services control users' access to data. Applications should:</p>
            <ul>
            <li>authenticate users with NADEX or AC3</li>
            <li>apply role based Access Controls locally or with AC3</li>
            <li>WCRS document search and retrieval APIs</li>
            <li>record usage to local audit logs or to the Central Audit Service (CAS)</li>
            </ul>
            <div class="nhsuk-u-padding-bottom-3"></div>

      <h3>Key systems and services</h3>
      <p>Key NHS Wales systems and services that can be integrated with using APIs include:</p>
      <ul>
        <li>National Active Directory and Exchange (NADEX), </li>
        <li>Account control v3 (AC3)</li>
        <li>Welsh Reference Data Service (WRDS) </li>
        <li>Terminology service</li>
        <li>Enterprise Service Bus</li>
        <li>Welsh Clinical Communication Gateway (WCCG)</li>
        <li>Requesting services</li>
        <li>Wales Demographics Service (WDS)</li>
        <li>Master Patient Index (MPI)</li>
        <li>Welsh GP Record (WGPR)</li>
        <li>Welsh Care Record Service (WCRS)</li>
        <li>Welsh Results Reports Service (WRRS)</li>
      </ul>
    <p>Read an <a href="https://nwisbeta.github.io/open-architecture/docs/getting-started/key-services/">overview of these key NHS Wales systems and services (opens in a new tab)</a> in the NHS Wales Open Architecture documentation.</p>

    <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
     <h2>2. Learn our API technologies and standards</h2>
     <h3>SOAP/XML</h3>
     <p>Simple Object Access Protocol (SOAP) APIs are used to access many NHS Wales systems. SOAP APIs use XML to format the message and HTTP to send it. <a href="https://www.w3.org/TR/soap/" target="_blank">Read more about SOAP specifications (opens in a new tab)</a>.</p>
     <p>Web Service Description Language (WSDL) documents are used to provide a machine readable definition of SOAP APIs. <a href="https://www.w3.org/TR/2001/NOTE-wsdl-20010315" target="_blank">Read more about WSDL documents (opens in a new tab)</a>.</p>
     <p>To connect to a system using a SOAP API, you may want to use a tool that automatically generates the client code for you based on the WSDL.</p>
     <div class="nhsuk-u-padding-bottom-3"></div>

     <h3>Data standards and HL7</h3>
     <p>We use  a blended approach to data structuring. Some APIs have standards that are defined locally, like the Welsh GP Record (WGPR) API and the Welsh Clinical Communications Gateway (WCCD).
      <p>Other systems use common standards such as HL7 v2 message structures, like the Master Patient Index (MPI) and the Welsh Lab Information Management System (WLIMS). <a href="https://www.hl7.org/implement/standards/product_brief.cfm?product_id=185" target="_blank">Read more about HL7 v2 standards (opens in a new window)</a>.</p>
     <p>The MPI API also conforms to the IHE Profile for performing <a href="https://dev.azure.com/NHS-Wales/Ecosystem/_wiki/wikis/Phase1.wiki/262/API-technologies-and-standards" source="_blank">Patient Demographic Queries (opens in a new window)</a> and <a href="https://wiki.ihe.net/index.php/Patient_Identifier_Cross-Referencing" source="_blank">Patient Identifier Cross-Reference (opens in a new window)</a> operations.</p>
     <div class="nhsuk-u-padding-bottom-3"></div>

     <h3>FHIR and OpenEHR</h3>
     <p>We use HL7 FHIR and OpenEHR standards, which are modern standards for healthcare systems.</p>
     <p>FHIR is a standard for communication between systems. It defines structures for common data entities and an API.</p>
     <p>The core FHIR standard aims to meet the needs of 80% of use cases. There are also options to extend and customise definitions for other use cases. The <a href="overview">terminology service</a> is an example of a system that uses FHIR standards.</p>
     <p>OpenEHR is a separate standard that publishes its own data definitions and API specifications for use in healthcare. It also defines models for data persistence in the underlying system. The Clinical Data Repository is an example of a service that uses OpenEHR. Read more in the blog post <a href="https://digitalhealth.wales/news/what-openehr-and-why-it-important" target="_blank">What is openEHR and why is it important? (opens in a new window)</a>.</p>
     <p>We expect all new systems to provide an API that conforms to either a FHIR or OpenEHR standard going forward.</p>

     <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

    <h2>3. Search for APIs</h2>
    <p>You can find all available APIs in the <a href="dev-api-catalogue">API catalogue</a>.</p>
    <p>You can also search our <a href="http://developer.nhs.wales/sandbox">sandbox APIs</a>.</p>
    <p>As we're in Beta, we're still developing the technical documentation for some APIs.</p>

    <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

    <h2>4. Test and go live</h2>
    <h3>Sandbox APIs</h3>
      <p>Our <a href="https://developer.nhs.wales/sandbox">sandbox APIs</a> allow you to try example requests with mock data. These APIs mimic the behaviour of production APIs as closely as possible, so you can quickly try different integrations to see how they might work within your application.</p>
      <p>To test an API in the sandbox, you should:</p>
      <ol>
        <li><a href="https://developer.nhs.wales/signin">Sign in or register an account</a>.</li>
        <li><a href="https://developer.nhs.wales/sandbox">Subscribe to the sandbox</a>.</li>
        <li>Search our <a href="https://developer.nhs.wales/sandbox"> sandbox APIs</a> to find the one you'd like to try.</li>
        </ol>
        <div class="nhsuk-u-padding-bottom-3"></div>

    <h3>Testing and production environments</h3>
      <p>When you're ready to integrate an API with your application, you can request access to:</p>
      <ul>
        <li>system integration testing (SIT), to validate an application against integration testing requirements</li>
        <li>user acceptance testing (UAT), for application end users to test a new feature in a non-production environment (if required)</li>
        <li>production environment, for pilot and go-live of your application</li>
        </ul>
        <p>You must go through an assurance process to get access to these environments.</p>
        <div class="nhsuk-u-padding-bottom-3"></div>

    <h3>The access request assurance process</h3>
      <p>Before you can access the testing and production environments, we must confirm that your use case for integrating with an API meets with our standards. This is known as an assurance process.</p>
      <p>The process will be different depending upon which API you're requesting access to. Find the API you'd like to access in the <a href="dev-api-catalogue">API catalogue</a> and read its documentation to see the most up to date information.</p>
      <p>If the API does not have information about its access request assurance process, <a href="mailto:ecosystem@wales.nhs.uk">email ecosystem@wales.nhs.uk</a>.</p>
      <p>We will provide production access once your application passes these checks.</p>

      <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

      <h2>5. Get help and support</h2>
      <p>If you need support with the NHS Wales Developer Portal, <a href="mailto:ecosystem@wales.nhs.uk">email ecosystem@wales.nhs.uk</a>.</p>
      <p>If you need help with an API, check the support section of the API's documentation for more specific information about how to get support. This makes sure you are put in touch with the right team more quickly.</p>

      <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

      <a id="welsh"></a><h2> Welsh language standards</h2>
      <h3>Content we provide in Welsh</h3>
      <p>We aim to provide Welsh translation where possible. However, this website is not intended for patients or the public, so technical information has not been translated.</p>
      <p>The content that is translated into Welsh includes:</p>
      <ul>
        <li>the homepage</li>
        <li>get started</li>
        <li>site navigation</li>
        <li>accessibility</li>
        <li>terms of use</li>
        <li>privacy policy</li>
        </ul>
        <div class="nhsuk-u-padding-bottom-3"></div>

        <h3>Ask for Welsh translation for the tender process</h3>
        <p>If you're applying for a tender, you can ask us to translate any of this site's content into Welsh.</p>
        <p><a href="mailto:ecosystem@wales.nhs.uk">Email ecosystem@wales.nhs.uk</a> with your request and include:</p>
        <ul>
          <li>your name and organisation</li>
          <li>which tender you are applying for</li>
          <li>the url of each page you need in Welsh</li>
          </ul>
          <div class="nhsuk-u-padding-bottom-3"></div>

      <h3>Your Welsh language requirements</h3>
      <p>You are required to consider Welsh language requirements when creating an application for use by the public, patients and clinicians in Wales.</p>
      <p>This ensures that the Welsh language is treated no less favourably than English, and allows all users to access information in Welsh if they choose to.</p>
      <p>There is clear advice available in the <a href="https://gov.wales/sites/default/files/publications/2021-03/technology-websites-and-software-welsh-language-considerations.pdf" source="_blank">Welsh Language Commissioner's Welsh Language Considerations document (opens in a new window)</a>. It includes information about bilingually designing your application, with guidance covering:</p>
      <ul>
        <li>architecture</li>
        <li>user interface</li>
        <li>language selection</li>
        <li>data management</li>
        </ul>
        <p>Another helpful resource is the <a href="https://gov.wales/bilingual-technology-toolkit-good-user-experience" source="_blank">bilingual technology toolkit for good user experience (opens in a new window)</a>. You can use this to organise your application's Welsh language requirements by priority.</p>

        <div class="nhsuk-back-to-top">
          <a class="nhsuk-back-to-top__link" href="dev-get-started">
            <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
            </svg>
            Back to top
          </a>
        </div>
        </div>

        </div>
        </div>

        </div>


      <!-- End of content -->

    </div>
  </div>
{% endblock %}
