<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Terminology services
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <!-- Change the page title here -->
      <h1>
      Terminology service API user guide
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <p class="nhsuk-lede-text">
        How to search and read clinical terminologies like SNOMED CT using a FHIR API
      </p>
      <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item" aria-current="page">
            <a class="nhsuk-contents-list__link" href="overview">Overview</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="get-started">Get started</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <span class="nhsuk-contents-list__current">About FHIR APIs</span>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="snomed">About SNOMED CT</a>
            </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="example-api-requests">Example API requests</a>
          </li>
        </ol>
      </nav>

      <h2>About FHIR APIs</h2>
      <h3>Overview</h3>
      <p>Fast Healthcare Interoperability Resources (FHIR) is a standard for quickly and accurately transferring healthcare data between systems.</p>
      <p>Working to a standard framework means that data can be shared more consistently wherever patient care is taking place. Read <a href="https://digitalhealth.wales/news/fhir-interoperability-wales" target="_blank">how NHS Wales is working with FHIR APIs (opens in a new tab)</a>.</p>
      <p>FHIR is free to use, and designed to be easy to understand and implement. You can find detailed <a href="http://hl7.org/fhir/summary.html" target="_blank"> information about FHIR specifications (opens in a new tab)</a> on the HL7 website.</p>
            <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
            <a id="fhir-api-resources"></a><h3>Working with FHIR API resources</h3>
            <p>FHIR has components called resources that can be used to define terminologies, as well as clear specifications for presenting terminologies. Resources are the building blocks of every request.</p>
          <br></br>
            <table class="nhsuk-table">
            <caption class="nhsuk-table__caption">Types of FHIR API resource</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
            <th role="columnheader" class="" scope="col">
              Resource type
            </th>
            <th role="columnheader" class="" scope="col">
              What it is
            </th>
            </tr>
            </thead>
            <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">CodeSystem</td>
            <td class="nhsuk-table__cell ">A collection of codes also known as an ontology or terminology</td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">ValueSet</td>
            <td class="nhsuk-table__cell ">A specific subset of codes from the CodeSystem</td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">ConceptMap</td>
            <td class="nhsuk-table__cell ">Defines the relationship between concepts, including from one CodeSystem to another</td>
            </tr>
            </tbody>
            </table>

            <div class="nhsuk-card">
  <div class="nhsuk-card__content">
    <p class="nhsuk-card__description"><b>Example</b>
    <p>If you were using the API to request Welsh and English gender data:</p>
    <ul>
        <li>the CodeSystem is the data dictionary item 'gender'</li>
        <li>the ValueSet includes all codes related to gender, such as 'female' and 'non-binary'</li>
        <li>the ConceptMap could be used to translate gender ValueSets from NHS Wales and NHS England to make them consistent, for example if NHS England combines 'non-binary' and 'unknown' as a single concept, but NHS Wales records them as separate concepts</li>
  </div>
</div>

      <p>Each resource is structured in the same way, with:</p>
            <ul>
            <li>a URL that identifies the resource</li>
            <li>common metadata</li>
            <li>an XHTML summary</li>
            <li>a set of defined data elements</li>
            <li>an extensibility framework to support variation in healthcare</li>
            </ul>
            <p>Read more in <a href="https://build.fhir.org/resource.html" target="_blank">HL7's FHIR overview of resources (opens in a new tab)</a>.</p>
            <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
            <a id="operations"></a><h3>Creating actions with operations</h3>
            <p>Terminology FHIR APIs have a simple set of interactions like <code>GET</code> and <code>READ</code> that follow a RESTful structure. To input and output content from resources, you use operations.</p>
            <p>Operations are structured by pairing the URL from the FHIR endpoint with the name of an operation, which is prefixed by a dollar symbol ($). For example:
            <p><code>GET http://exampleURL.com/path/ResourceType/id/$operation</code></p>
          <br></br>
            <table class="nhsuk-table">
            <caption class="nhsuk-table__caption">Types of operations</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
            <th role="columnheader" class="" scope="col">
              Resource type
            </th>
            <th role="columnheader" class="" scope="col">
              Operation
            </th>
            <th role="columnheader" class="" scope="col">
              What it does
            </th>
            </tr>
            </thead>
            <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">CodeSystem</td>
            <td class="nhsuk-table__cell "><code>$lookup</code></td>
            <td class="nhsuk-table__cell ">Get information about the concept of a CodeSystem, including its defintion and status</td>

            </tr>
            <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">ValueSet</td>
            <td class="nhsuk-table__cell "><code>$expand</code></td>
            <td class="nhsuk-table__cell ">Create a simple collection of codes from the definition of the ValueSet</td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">ConceptMap</td>
            <td class="nhsuk-table__cell "><code>$translate</code></td>
            <td class="nhsuk-table__cell ">Translate a code from one ValueSet to another</td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">ConceptMap</td>
            <td class="nhsuk-table__cell "><code>$closure</code></td>
            <td class="nhsuk-table__cell ">Return a ConceptMap with a list of mappings of new entries to make in a closure table</td>
            </tr>
            </tbody>
            </table>
            <div class="nhsuk-card nhsuk-card--clickable">
    <div class="nhsuk-card__content">
      <h2 class="nhsuk-card__heading nhsuk-heading-m">
        <a class="nhsuk-card__link" href="example-api-requests">Try example API requests</a>
      </h2>
      <p class="nhsuk-card__description">See how the API works by trying a sample request</p>
    </div>
  </div>
      <!-- End of content -->

    </div>
  </div>
{% endblock %}
