<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Terminology services
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <!-- Change the page title here -->
      <h1>
      Terminology service API user guide
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <p class="nhsuk-lede-text">
        How to search and read clinical terminologies like SNOMED CT using a FHIR API
      </p>
      <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item" aria-current="page">
            <a class="nhsuk-contents-list__link" href="overview">Overview</a>
          </li>
        <li class="nhsuk-contents-list__item">
          <span class="nhsuk-contents-list__current">Get started</span>
        </li>
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="fhir">About FHIR APIs</a>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="snomed">About SNOMED CT</a>
          </li>
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="example-api-requests">Example API requests</a>
        </li>
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="#">Terms of use</a>
        </li>
        </ol>
      </nav>

      <h2>Get started</h2>
      <h3>Request access</h3>
        <p>The environments that you can request access to include:</p>
        <ul>
          <li>sandbox, to develop a feature that uses the API</li>
            <li>SIT, for validating the application against integration testing requirements.</li>
          <li>UAT, for application end users to test the new feature in a non-production environment (if required)</li>
          <li>production, for pilot and go-live of your application</li></ul>
          <p>Anyone can try the APIs in the sandbox to see how they work. However, you must work for NHS Wales or be sponsored by an NHS Wales organisation to get production access. </p>
<div class="nhsuk-expander-group">
    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Get Sandbox access (all users)
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>Use the sandbox environment to develop a feature that uses the API.</p>
        <p>To get access:</p>
        <ol>
          <li> <a href="#">Register for an NHS Wales Developer Portal account</a></li>
          <li> Get a subscription key</li>
          </ol>

      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Get SIT, UAT and production access (health boards and 3rd party partners)
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p><a href="#">Submit a production access request</a> when you're ready to go live with your application. SIT and UAT access is given first, and used to make sure your application meets our assurance criteria. Production access will be provided once your application passes assurance checks.</p>
          <p>To get access:</p>
        <ol>
          <li> <a href="#">Fill in and submit a New Service Request</a> to request access to the API.</li>
          <li> Your request will be reviewed by the Service Portfolio CAB for approval or rejection.</li>
          <li> Submit a ServicePoint call to National Operational Databases (NOD).</li>
          <li> Request goes to IRAT SMB where it is approved or denied.</li>
          <li> If approved, you're given connection details. If denied, you're given the reason why.</li></ol>

      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Get SIT, UAT and production access (DHCW application teams)
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p><a href="#">Submit a production access request</a> when you're ready to go live with your application. SIT and UAT access is given first, and used to make sure your application meets our assurance criteria. Production access will be provided once your application passes assurance checks.</p>
        <p>To get access:</p>
        <ol>
          <li> Submit a ServicePoint call to National Operational Databases (NOD).</li>
          <li> Request goes to IRAT SMB where it is approved or denied.</li>
          <li> If approved, you're given connection details. If denied, you're given the reason why.</li>
        </ol>

      </div>
    </details>

  </div>

    <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

      <h3>If you're new to FHIR APIs</h3>
      <ul class="nhsuk-grid-row nhsuk-card-group">
  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

    <div class="nhsuk-card nhsuk-card--clickable">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
          <a class="nhsuk-card__link" href="fhir#fhir-api-resources">About FHIR API resources</a>
        </h2>
        <p class="nhsuk-card__description">A quick guide to resources, which are the building blocks of every FHIR API request.</p>

      </div>
    </div>

  </li>
  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

    <div class="nhsuk-card nhsuk-card--clickable">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
          <a class="nhsuk-card__link" href="fhir#operations">About FHIR API operations</a>
        </h2>
        <p class="nhsuk-card__description">Learn how the RESTful structure is extended by operations, which are used to formulate responses.</p>
      </div>
    </div>

  </li>
</ul>

    <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

    <h3>Try making a request</h3>

      <P><b>>Content pending<</b>
      <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
  <h3>Get support</h3>
      <p>For specific technical questions, you may want to <a href="https://chat.fhir.org/login/" target="_blank">join the FHIR community (opens in a new tab)</a>. This FHIR knowledge-sharing website allows you to search through content posted by other users, and to post your own issues and questions.</p>
      <p>For general support with the terminology service, <a href="mailto:nationalreferencedata@wales.nhs.uk">email nationalreferencedata@wales.nhs.uk for help</a>.</p>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
