<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Terminology services
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <!-- Change the page title here -->
      <h1>
      Terminology service API user guide
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <p class="nhsuk-lede-text">
        How to search and read clinical terminologies like SNOMED CT using a FHIR API
      </p>
      <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item" aria-current="page">
            <a class="nhsuk-contents-list__link" href="overview">Overview</a>
          </li>
        <li class="nhsuk-contents-list__item">
          <span class="nhsuk-contents-list__current">Get started</span>
        </li>
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="fhir">About FHIR APIs</a>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="snomed">About SNOMED CT</a>
          </li>
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="#">Sample API requests</a>
        </li>
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="#">Terms of use</a>
        </li>
        </ol>
      </nav>

      <h2>Get started</h2>
      <h3>1. Ask for access</h3>
        <div class="nhsuk-inset-text">
  <span class="nhsuk-u-visually-hidden">Information: </span>
  <p>You must work for NHS Wales or be sponsored by an NHS Wales health board to access this API </p></div>
        <p><b>>Content pending<</b></p>

      <h3>2. Get to know the FHIR API structure</h3>
      <p>FHIR APIs are created from a standard framework of components called resources that are designed to be easy to implement. Resources are the building blocks of every request.</p>
<div class="nhsuk-action-link">
        <a class="nhsuk-action-link__link" href="fhir#fhir-api-resources">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Read our guide to working with FHIR API resources</span>
        </a>
<hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
<h3>3. Learn about operations</h3>
<p>Terminology FHIR APIs have a simple set of interactions like <code>READ</code> and <code>UPDATE</code> that follow a RESTful structure. This is extended by operations, which you use to actively formulate inputs and outputs.</p>
<div class="nhsuk-action-link">
  <a class="nhsuk-action-link__link" href="fhir#operations">
    <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
    </svg>
    <span class="nhsuk-action-link__text">Read our guide to making requests with FHIR API operations</span>
  </a>
    <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

    <h3>4. Try making a request</h3>
      <P><b>>Content pending<</b>
      <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
  <h3>5. Get support if you need it</h3>
      <p>For specific technical questions, you may want to <a href="https://chat.fhir.org/login/" target="_blank">join the FHIR community (opens in a new tab)</a>. This FHIR knowledge-sharing website allows you to search through content posted by other users, and to post your own issues and questions.</p>
      <p>For general support with the terminology service, <a href="mailto:nationalreferencedata@wales.nhs.uk">email nationalreferencedata@wales.nhs.uk for help</a>.</p>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
