<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Terminology services
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <!-- Change the page title here -->
      <h1>
      Terminology service API user guide
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <p class="nhsuk-lede-text">
        How to search and read SNOMED CT electronic health record content using a FHIR API
      </p>
      <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item" aria-current="page">
            <a class="nhsuk-contents-list__link" href="overview">Overview</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <span class="nhsuk-contents-list__current">Get started</span>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="#">Sample API requests</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="#">Terms of use</a>
          </li>
        </ol>
      </nav>

      <h2>Get started</h2>
      <h3>1. Requesting access</h3>
        <div class="nhsuk-inset-text">
  <span class="nhsuk-u-visually-hidden">Information: </span>
  <p>You cannot access the API if you are a 3rd party without an NHS Wales sponsor</p>
</div>
        <p>You can request access if you work for NHS Wales or you are a 3rd party with an NHS Wales sponsor. <a href="#">Email terminology.service@wales.nhs.uk with your request</a>, and include:</p>
        <ul>
          <li>which organisation you work at</li>
          <li>how you plan to use the API, for example that you'd like to retrieve content from the Welsh Data Dictionary</li>
          </ul>
      <p>If you are a 3rd party, it can take up to 5 months to go from your initial request to accessing the API, depending on your requirements. The process for organisations within NHS Wales is normally quicker. See an <a href="#">example timescale for accessing APIs*</a>.</p>
      <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

      <h3>2. Understanding the FHIR API structure</h3>
      <p>FHIR APIs are created from a standard framework of of components called resources, written in XML, JSON or RDF. Resources are the building blocks of every request.</p>
      <table class="nhsuk-table">
  <caption class="nhsuk-table__caption">Types of FHIR API resources</caption>
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col">
        Resource
      </th>
      <th role="columnheader" class="" scope="col">
        Definition
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">CodeSystem</td>
      <td class="nhsuk-table__cell ">A collection of codes also known as ontology or terminology, in this case SNOMED CT</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">ValueSet</td>
      <td class="nhsuk-table__cell ">A specific subset of codes from the CodeSystem, for example all codes relating to influenza</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">ConceptMap</td>
      <td class="nhsuk-table__cell ">Defines the relationship between concepts, including from one CodeSystem to another</td>
    </tr>
  </tbody>
</table>
<p>Each resource is structured in the same way, with:</p>
<ul>
  <li>a URL that identifies the resource</li>
  <li>common metadata</li>
  <li>an XHTML summary</li>
  <li>a set of defined data elements</li>
  <li>an extensibility framework to support variation in healthcare</li>
  </ul>
<p>Get more detailed information in <a href="https://build.fhir.org/overview-dev.html">HL7's FHIR overview for developers</a>, which includes example requests and responses.</p>
<hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
<h3>3. Making API requests</h3>
<p>To create actions within these resources, FHIR has a simple set of interactions like <code>READ</code> and <code>UPDATE</code> that follow the RESTful structure. To execute exchanges, you use operations. These are structured by pairing the URL from the FHIR endpoint with the name of an operation, which is prefixed by a dollar symbol ($). For example:
<p><code>GET http://exampleURL.com/path/ResourceType/id/$operation</code></p>
<p>Frequently used operations include <code>$lookup</code>, <code>$expand</code> and <code>$translate</code>. View the <a href="https://www.hl7.org/fhir/operations.html"> full list of available operations</a>.</p>
      <h4>Expanding a ValueSet</h4>
      <P>The most common use case for the API is to search and retrieve specific SNOMED CT codes. You can do this using the <code>$expand</code> a ValueSet operation.</p>
        <p>The rules of this operation can be broad, like retrieving codes related to influenza. They can also be very specific, like retrieving codes related to influenza that were created on a specific date. </p>
        <P></p>
      <p>You can <a href="https://documenter.getpostman.com/view/784165/ontoserver-51-example-fhir-terminology-requests/RW1hhG1S#802a4571-0930-0392-c6b3-7bd068a6dfe3">see some example <code>$expand</code> requests</a> in action in a Postman environment on the Ontoserver website.</p>
      <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
  <h3>4. Getting support</h3>
      <p>If you need integration support, help is available.</p>
      <p>For specific technical questions, you may want to <a href="https://chat.fhir.org/login/">join the FHIR community</a>. This FHIR knowledge-sharing website allows you to search through content posted by other users, and to post your own issues and questions.</p>
      <p>For more general support with the terminology service, <a href"#">email terminology.service@wales.nhs.uk</a>.</p>
      <p class="nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-0">
  Page last reviewed: 23 May 2021</p>
      <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
        <ul class="nhsuk-list nhsuk-pagination__list">
    <li class="nhsuk-pagination-item--previous">
      <a class="nhsuk-pagination__link nhsuk-pagination__link--prev" href="/overview">
        <span class="nhsuk-pagination__title">Previous</span>
        <span class="nhsuk-u-visually-hidden">:</span>
        <span class="nhsuk-pagination__page">Overview</span>
        <svg class="nhsuk-icon nhsuk-icon__arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M4.1 12.3l2.7 3c.2.2.5.2.7 0 .1-.1.1-.2.1-.3v-2h11c.6 0 1-.4 1-1s-.4-1-1-1h-11V9c0-.2-.1-.4-.3-.5h-.2c-.1 0-.3.1-.4.2l-2.7 3c0 .2 0 .4.1.6z"></path>
        </svg>
      </a>
    </li>
        <ul class="nhsuk-list nhsuk-pagination__list">
                    <li class="nhsuk-pagination-item--next">
            <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="#">
              <span class="nhsuk-pagination__title">Next</span>
              <span class="nhsuk-u-visually-hidden">:</span>
              <span class="nhsuk-pagination__page">Sample API requests</span>
              <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
      <!-- End of content -->

    </div>
  </div>
{% endblock %}
